(cloudflare_tls) {
	tls {
		dns cloudflare {env.CF_API_TOKEN}
		resolvers keenan.ns.cloudflare.com meadow.ns.cloudflare.com
		propagation_timeout 5m
	}
}

webui.{$DOMAIN} {
	import cloudflare_tls
	reverse_proxy open-webui:8080
}

docs.{$DOMAIN} {
	import cloudflare_tls
	reverse_proxy docmost:3000
}

dash.{$DOMAIN} {
	import cloudflare_tls
	reverse_proxy glance:8080
}

n8n.{$DOMAIN} {
	import cloudflare_tls
	reverse_proxy n8n:5678
}

crawler.{$DOMAIN} {
	import cloudflare_tls
	reverse_proxy 172.19.0.1:8420
}
